@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-Bold.ttf');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Nunito', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
